
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/.env.test
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpStorm ###
/.idea
###< phpStorm ###

###< card upload folder ###
!/var/upload/card/.gitignore
!/var/upload/card/default.png
###> card upload folder ###

###> Backup folder with database & upload folder ziped ###
/backup
###< Backup folder with database & upload folder ziped ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
